<div class="navigation-container">
    <a class="_link" href="{{ path('app_home') }}">Вернуться к поиску</a>
    {% if isUser() %}
        <hr class="my-3">
        <a class="_link" href="{{ path('auth_account') }}">Функций для пользователя в данный момент не существует</a>
    {% endif %}
    {% if isAdmin() %}
        <hr class="my-3">
        <a class="_link" href="{{ path('admin_loaded_types') }}">Отобразить загруженные категории</a>
        <a class="_link" href="{{ path('admin_upload_price') }}">Обновить цены на продукцию (Файлом)</a>
    {% endif %}
</div>
