{% extends 'base.html.twig' %}

{% block title %}Личный кабинет товаров{% endblock %}

{% block body %}
<div class="d-flex h-100 w-100">
    {{ include('layouts/navigation.html.twig') }}

    {% block content %}{% endblock %}
</div>
{% endblock %}
