{% extends 'base.html.twig' %}

{% block title %}Продукция Fluid-line{% endblock %}

{% block body %}
    <style>
        body {
            margin: 0;
        }

        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        ul {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .fl_color-primary {
            background-color: #0876A6;
        }

        .fl_color-secondary {
            background-color: rgba(0, 0, 0, .65);
        }


        .fl_font-family-primary {
            font-family: 'Inter';
        }

        .fl_container {
            margin-left: calc(0px + (100vw - 1344px) * (288 / 576));
            margin-right: calc(0px + (100vw - 1344px) * (288 / 576));
        }

        .fl_display-flex {
            display: flex;
        }

        .fl_display-grid {
            display: grid;
        }

        .fl_grid-4-cols {
            grid-template-columns: repeat(4, 1fr);
        }

        .fl_display-block {
            display: block;
        }

        .fl_justify-content-center {
            justify-content: center;
        }

        .fl_text-decoration-none {
            text-decoration: none;
        }

        .fl_text-color-white {
            color: white;
        }

        .fl_flex-direction-column {
            flex-direction: column;
        }

        .fl_justify-content-space-between {
            justify-content: space-between;
        }

        .fl_justify-content-space-around {
            justify-content: space-around;
        }

        .fl_align-items-center {
            align-items: center;
        }

        .fl_display-none {
            display: none;
        }

        .fl_width-100 {
            width: 100%;
        }

        .fl_input-text {
            border-radius: 6px;
            font-family: 'Inter';
            font-size: 20px;
            padding: 6px 12px;
            border: .5px solid rgba(0, 0, 0, .65);
        }

        .fl_input-text:focus {
            outline: none;
        }

        .fl_mx-auto {
            margin-left: auto;
            margin-right: auto;
        }

        .fl_my-1 {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        .fl_my-2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .fl_my-3 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .fl_my-4 {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .fl_my-5 {
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

        .fl_width-50 {
            width: 50%;
        }

        .fl_width-75 {
            width: 75%;
        }

        .fl_flex-wrap-wrap {
            flex-wrap: wrap;
        }

        .logo-block {
            padding: 8px 0;
        }

        .logo-image {
            height: 50px;
        }

        .nav-item {
            padding: 6px 26px;
            border-radius: 12px;
            max-height: 32px;
            background-color: transparent;
            color: white;
        }

        .nav-item:hover {
            color: black;
            background-color: white;
            transition: .5s;
        }

        .nav-row {
            padding: 8px;
        }

        .searched-product {
            border-radius: 8px;
            padding: 1em;
            border: 1px solid rgba(0, 0, 0, .15);
            max-width: 390px;
            column-gap: 20px;
            row-gap: 20px;
            flex-wrap: wrap;
        }

        .searched-description {
            width: calc(100% - 122px);
        }

        .searched-description h2 {
            margin: 0 0 .5rem 0;
            font-size: 16px;
            font-weight: 400;
            color: grey;
        }

        .searched-description h1 {
            margin: 0 0 .5rem 0;
            font-size: 24px;
            font-weight: 400;
        }

        .searched-price p {
            font-size: 16px;
            font-weight: 400;
        }

        .searched-price span {
            font-size: 20px;
            font-weight: 600;
            margin: 0 .25rem;
        }

        .searched-link {
            color: rgba(8, 118, 166, .5);
            transition: .5s;
        }

        .searched-link:hover {
            color: rgba(8, 118, 166, 1);
        }

        .searched-image {
            width: 100px;
            height: 100px;
            border: 1px solid rgba(0, 0, 0, .01);
        }

        #answerContainer {
            row-gap: 20px;
            column-gap: 20px;
        }

        .footer {
            bottom: 0;
            border-radius: 6px 6px 0 0;
        }

        .fl_position-relative {
            position: relative;
        }

        .fl_position-absolute {
            position: absolute;
        }

        .fl_position-fixed {
            position: fixed;
        }

        .fl_mb-none {
            margin-bottom: 0 !important;
        }

        .fl_py-5 {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }

        .sections {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            justify-content: space-between;
        }

        @media screen and (max-width: 1344px) {
            .fl_container {
                margin-left: 0;
                margin-right: 0;
            }
        }

    </style>
    <div class="sections">
        <div class="head">
            <div class="fl_container">
                <div class="fl_display-flex fl_justify-content-space-between fl_color-primary fl_align-items-center">
                    <a class="fl_text-decoration-none fl_font-family-primary fl_text-color-white" href="mailto:mail@fluid-line.ru" style="margin: 0 1em;">mail@fluid-line.ru</a>
                    <a class="fl_display-block logo-block" href="https://www.fluid-line.ru/">
                        <img class="fl_display-block logo-image" src="{{ asset('assets/images/logo-white.svg') }}" alt="LOGO">
                    </a>
                    <a class="fl_text-decoration-none fl_font-family-primary fl_text-color-white" href="tel:+74959844100" style="margin: 0 1em;">+7 (495) 984-41-00</a>
                </div>
                <div class="fl_display-flex fl_color-secondary" style="border-radius: 0 0 6px 6px;">
                    <div class="fl_display-flex fl_width-100 fl_justify-content-space-around nav-row">
                        <a class="nav-item fl_text-decoration-none fl_font-family-primary" href="https://www.fluid-line.ru/">Продукция</a>
                        <a class="nav-item fl_text-decoration-none fl_font-family-primary" href="https://www.fluid-line.ru/about">О компании</a>
                        <a class="nav-item fl_text-decoration-none fl_font-family-primary" href="https://www.fluid-line.ru/contacts">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="fl_container">
                <div class="fl_display-flex fl_justify-content-center fl_flex-direction-column fl_my-5">
                    <label class="fl_display-none" for="searchInput"></label>
                    <input class="fl_input-text fl_width-75 fl_mx-auto fl_my-1" name="searchInput" id="searchInput" data-fl-target="answerContainer">
                    <hr class="fl_width-75 fl_my-1">
                    <div class="fl_display-flex fl_flex-wrap-wrap fl_py-5 fl_justify-content-space-between" id="answerContainer"></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="fl_container">
                <div class="fl_display-flex fl_justify-content-center fl_color-secondary fl_width-100 footer">
                    <a class="fl_display-block logo-block" href="https://www.fluid-line.ru/">
                        <img class="fl_display-block logo-image" src="{{ asset('assets/images/logo-white.svg') }}" alt="LOGO">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        class HeaderSearch {
            eraseAnswers(answers) {
                $('#' + answers).empty();
            }

            setUniqSearch(answers, uniqid) {
                $('#' + answers).attr('data-fl-search', uniqid);
            }

            searchTitle(input) {
                let answers = $(input).attr('data-fl-target');

                this.eraseAnswers(answers);

                let uniqid = Date.now();
                this.setUniqSearch(answers, uniqid);

                if ($(input).val() !== "") {
                    this.sendRequest(this, input, uniqid);
                }
            }

            buildCard(search, answers, response) {
                console.log(response);

                let card = document.createElement('div');
                card.className = "fl_display-flex fl_width-100 searched-product";

                let img = document.createElement('img');
                img.className = "searched-image";
                img.src = response.attachments.image;
                img.alt = response.code;

                let link = document.createElement('a');
                link.className = "fl_width-100 fl_text-decoration-none fl_font-family-primary searched-link";
                link.href = "/goods/" + response.code;
                link.innerHTML = "Показать подробнее";

                card.appendChild(img);
                card.appendChild(search.buildDescription(response));
                card.appendChild(link);
                answers[0].appendChild(card);
            }

            buildDescription(response) {
                let description = document.createElement('div');
                description.className = "fl_display-flex fl_flex-direction-column fl_font-family-primary searched-description";

                let type = document.createElement('h2');
                type.innerHTML = response.type;

                let code = document.createElement('h1');
                code.innerHTML = response.code;

                let priceBlock = document.createElement('div');
                priceBlock.className = "fl_display-flex fl_font-family-primary fl_justify-content-space-between fl_width-100 searched-price";

                let priceCurrency = document.createElement('p');
                priceCurrency.innerHTML = response.price.currency;

                let priceValue = document.createElement('span');
                priceValue.innerHTML = response.price.value;

                priceCurrency.appendChild(priceValue);

                let warehouseCount = document.createElement('p');
                warehouseCount.innerHTML = "шт.";

                let warehouseValue = document.createElement('span');
                warehouseValue.innerHTML = response.price.warehouse;

                warehouseCount.prepend(warehouseValue);

                priceBlock.appendChild(priceCurrency);
                priceBlock.appendChild(warehouseCount);

                description.appendChild(type);
                description.appendChild(code);
                description.appendChild(priceBlock);

                return description;
            }

            sendRequest(search, input, uniqid) {
                $.ajax({
                    type: "POST",
                    url: "/search/full",
                    data: {
                        "code": $(input).val()
                    },
                    enctype: 'application/json',
                    dataType: 'json',
                    statusCode: {
                        200: function (response) {
                            if (response !== undefined) {
                                if (response['search']) {
                                    let answers = $('#' + $(input).attr('data-fl-target') );

                                    for (let i = 0; i < response['search'].length; i++) {
                                        if (Number($(answers).attr('data-fl-search')) !== uniqid) {
                                            return;
                                        }

                                        search.buildCard(search, answers, response.search[i]);
                                    }
                                }
                            }
                        },
                    }
                });
            }
        }

        let search = new HeaderSearch();

        $("input[name=searchInput]").on('input', function () {
            search.searchTitle($(this))
        });
    </script>

{#    {{ include('layouts/navigation.html.twig') }}#}
{% endblock %}
