{% extends 'auth/account/index.html.twig' %}

{% block title %}Загруженные кодировки серии "{{ serials }}" категории "{{ type }}"{% endblock %}

{% block content %}
    <div class="d-flex w-75 p-5">
        <div class="_serial-list">
            {% for i in codes %}
                <div class="_link-group">
                    <p>{{ i.getCode() }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
