{% extends 'auth/account/index.html.twig' %}

{% block title %}Загруженные категории{% endblock %}

{% block content %}
    <div class="loaded-categories">
    {% for i in types %}
        <div class="item-container">
            <a class="link fl_font-family-primary" href="{{ path('admin_loaded_types_serials', {"type" : i.type}) }}">
                {{ i.type }}
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
