{% extends 'base.html.twig' %}

{% block title %}Hello InventoryRemoverController!{% endblock %}

{% block body %}
<div class="_container">
    {{ include('layouts/navigation.html.twig') }}
    {{ form_start(remove_form) }}
    {{ form_end(remove_form) }}
</div>
{% endblock %}
