{% extends 'base.html.twig' %}

{% block title %}Hello InventoryGeneratorController!{% endblock %}

{% block body %}
    <style>
        ._list {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
        }
        ._files-grid {
            grid-template-columns: repeat(5, 1fr);
        }
    </style>
    <div class="_list">
        {{ form_start(generate_form) }}
        {{ form_end(generate_form) }}
        <div class="_files-grid">
            {% for i in files %}
                <a href="/generator/images/{{ i }}" download="images">Скачать файл "{{ i }}"</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
